{# bgp.j2 - simple BGP config (IPv4 unicast) #}
{%- if device.bgp is defined %}
router bgp {{ device.bgp.asn }}
  no bgp default ipv4-unicast
  bgp log-neighbor-changes
  {%- if device.bgp.neighbors is defined %}
  {%- for n in device.bgp.neighbors %}
  neighbor {{ n.ip }} remote-as {{ n.remote_as }}
    {%- if n.description is defined %}
  description {{ n.description }}
    {%- endif %}
  {%- endfor %}
  {%- endif %}

  address-family ipv4 unicast
    {%- if device.bgp.neighbors is defined %}
    {%- for n in device.bgp.neighbors %}
  neighbor {{ n.ip }} activate
    {%- endfor %}
    {%- endif %}
  exit-address-family
{%- endif %}
