{# arista/evpn.j2 - EVPN L2/VNI mapping and BGP EVPN activation #}
{%- if device.evpn.vlans is defined %}
! EVPN VLAN to VNI mappings
{%- for m in device.evpn.vlans %}
vlan {{ m.vlan }}
  name {{ m.name }}
!
interface Vlan{{ m.vlan }}
  no shutdown
  vrf forwarding {{ m.vrf | default('') }}
  ip address {{ m.svi | default('') }}
!
{%- endfor %}
{%- endif %}

{# Activate EVPN in BGP - assumes router bgp present #}
{%- if device.bgp is defined and device.bgp.neighbors is defined %}
router bgp {{ device.bgp.asn }}
  address-family l2vpn evpn
    {%- for n in device.bgp.neighbors %}
  neighbor {{ n.ip }} activate
    {%- endfor %}
  exit-address-family
{%- endif %}
