{# full_config.j2 - assemble full Arista config by including sub-templates #}
{# expects `device` variable #}
{% include 'arista/mgmt.j2' %}

{% include 'arista/vlans.j2' %}

{% include 'arista/interfaces.j2' %}

{% if device.acls is defined %}
{% include 'arista/acl.j2' %}
{% endif %}

{% include 'arista/bgp.j2' %}
{% if device.evpn is defined %}
{% include 'arista/evpn.j2' %}
{% endif %}
{% if device.ipsec is defined %}
{% include 'arista/ipsec.j2' %}
{% endif %}

end
