{# interfaces.j2 - expects `device.interfaces` as list #}
{%- for intf in device.interfaces %}
interface {{ intf.name }}
  description {{ intf.description | default('') }}
  {%- if intf.type == 'routed' %}
  no switchport
    {%- if intf.ip is defined and intf.ip.address is defined and intf.ip.mask is defined %}
  ip address {{ intf.ip.address }} {{ intf.ip.mask }}
    {%- endif %}
  {%- elif intf.type == 'access' %}
  switchport mode access
  switchport access vlan {{ intf.switchport_vlan }}
  {%- elif intf.type == 'trunk' %}
  switchport mode trunk
    {%- if intf.trunk_vlans is defined %}
  switchport trunk allowed vlan {{ intf.trunk_vlans | join(',') }}
    {%- endif %}
  {%- endif %}
  {%- if intf.mtu is defined %}
  mtu {{ intf.mtu }}
  {%- endif %}
  {%- if intf.admin_up == false %}
  shutdown
  {%- else %}
  no shutdown
  {%- endif %}
!
{%- endfor %}
