{# arista/ipsec.j2 - IPsec/IKEv2 templates; expects `device.ipsec` list of tunnels #}
{%- for t in device.ipsec %}
! IPsec tunnel {{ t.name }}
crypto ikev2 keyring {{ t.keyring | default(t.name) }}
  peer {{ t.peer_ip }}
    pre-shared-key local {{ t.psk_local | default('') }}
    pre-shared-key remote {{ t.psk_remote | default('') }}
!
crypto ikev2 profile {{ t.profile | default(t.name) }}
  match address local interface {{ t.local_interface | default('Management1') }}
  match identity remote address {{ t.peer_ip }}
  keyring local {{ t.keyring | default(t.name) }}
!
crypto ipsec transform-set {{ t.transform | default('TS-AES256') }} esp-aes-256 esp-sha256
!
ip vpn {{ t.name }}
  ipsec policy ipsec-{{ t.name }}
    set transform-set {{ t.transform | default('TS-AES256') }}
  exit
!
{%- endfor %}
