{# mgmt.j2 - hostname, domain, management, NTP, SNMP placeholders #}
hostname {{ device.hostname }}
{%- if device.domain is defined %}
ip domain-name {{ device.domain }}
{%- endif %}

{%- if device.mgmt_interface is defined %}
interface {{ device.mgmt_interface.name }}
  description Management
  ip address {{ device.mgmt_interface.ip }} {{ device.mgmt_interface.mask }}
  no shutdown
!
{%- endif %}

{%- if device.ntp is defined and device.ntp.servers %}
ntp server {{ device.ntp.servers | join('\nntp server ') }}
{%- endif %}

{# SNMP v2 community and v3 users placeholders #}
{%- if device.snmp is defined %}
{%- if device.snmp.community is defined %}
snmp-server community {{ device.snmp.community }} ro
{%- endif %}
{%- if device.snmp.v3_users is defined %}
{%- for u in device.snmp.v3_users %}
snmp-server user {{ u.name }} auth {{ u.auth }} priv {{ u.priv }}
{%- endfor %}
{%- endif %}
{%- endif %}
