{# vlans.j2 - VLANs and SVIs #}
{%- for v in device.vlans %}
vlan {{ v.id }}
  name {{ v.name }}
!
  {%- if v.svi_ip is defined %}
interface Vlan{{ v.id }}
  ip address {{ v.svi_ip }}
  no shutdown
!
  {%- endif %}
{%- endfor %}
