{# srlinux/acl.j2 - firewall filter generation #}
{%- if device.firewall is defined and device.firewall.filters is defined %}
{%- for f in device.firewall.filters %}
configure firewall filter {{ f.name }}
  {%- for t in f.terms %}
  term {{ t.name }}
    {%- if t.match.protocol is defined %}
    match protocol {{ t.match.protocol }}
    {%- endif %}
    {%- if t.match.source is defined %}
    match source {{ t.match.source }}
    {%- endif %}
    {%- if t.match.destination is defined %}
    match destination {{ t.match.destination }}
    {%- endif %}
    action {{ t.action }}
  exit
  {%- endfor %}
exit
{%- endfor %}
{%- endif %}
