{# srlinux/bgp.j2 - SR Linux BGP configuration #}
{%- if device.bgp is defined %}
configure router bgp instance {{ device.bgp.instance | default('default') }}
  autonomous-system {{ device.bgp.asn }}
  {%- if device.bgp.neighbors is defined %}
  {%- for n in device.bgp.neighbors %}
  neighbor {{ n.ip }}
    remote-as {{ n.remote_as }}
    {%- if n.description is defined %}
    description "{{ n.description }}"
    {%- endif %}
  {%- endfor %}
  {%- endif %}
exit
{%- endif %}
