{# srlinux/evpn.j2 - EVPN L2VPN/EVPN activation for SR Linux #}
{%- if device.evpn.vlans is defined %}
{%- for m in device.evpn.vlans %}
configure service bridge-domain bd-{{ m.vlan }}
  description {{ m.name }}
exit
{%- endfor %}
{%- endif %}

{%- if device.bgp is defined %}
configure router bgp instance {{ device.bgp.instance | default('default') }}
  address-family l2vpn evpn
    {%- if device.bgp.neighbors is defined %}
    {%- for n in device.bgp.neighbors %}
    neighbor {{ n.ip }}
      activate
    {%- endfor %}
    {%- endif %}
  exit
exit
{%- endif %}
