{# srlinux/full_config.j2 - assemble SR Linux config #}
{% include 'srlinux/mgmt.j2' %}
{% include 'srlinux/vlans.j2' %}
{% include 'srlinux/interfaces.j2' %}
{% if device.firewall is defined %}
{% include 'srlinux/acl.j2' %}
{% endif %}
{% include 'srlinux/bgp.j2' %}
{% if device.evpn is defined %}
{% include 'srlinux/evpn.j2' %}
{% endif %}
{% if device.ipsec is defined %}
{% include 'srlinux/ipsec.j2' %}
{% endif %}

exit
