{# srlinux/interfaces.j2 - expects `device.interfaces` list #}
{%- for intf in device.interfaces %}
configure system interface {{ intf.name }}
  description {{ intf.description | default('') }}
  {%- if intf.enabled == false %}
  shutdown
  {%- endif %}
  {%- if intf.mtu is defined %}
  mtu {{ intf.mtu }}
  {%- endif %}
  {%- if intf.address is defined %}
  address {{ intf.address }}
  {%- endif %}
  {%- if intf.vrf is defined %}
  vrf {{ intf.vrf }}
  {%- endif %}
exit
{%- endfor %}
