{# srlinux/ipsec.j2 - IPsec service templates; expects `device.ipsec` list #}
{%- for t in device.ipsec %}
configure service ipsec vpn {{ t.name }}
  ike
    proposal {{ t.ike_proposal | default('aes256-sha256') }}
  exit
  connection {{ t.name }}
    local-address {{ t.local_ip | default('') }}
    remote-address {{ t.peer_ip }}
    auth pre-shared-key {{ t.psk | default('') }}
    proposal {{ t.ipsec_proposal | default('aes256-sha256') }}
  exit
exit
{%- endfor %}
