{# srlinux/mgmt.j2 - hostname, mgmt interface, DNS, NTP, SSH #}
system
  host-name {{ device.hostname }}
!
{%- if device.mgmt_interface is defined %}
configure system interface {{ device.mgmt_interface.name }}
  address {{ device.mgmt_interface.ip }}/{{ device.mgmt_interface.mask }}
  no shutdown
exit
{%- endif %}

{%- if device.dns is defined and device.dns.servers %}
configure system name-server
  {%- for s in device.dns.servers %}
  {{ s }}
  {%- endfor %}
exit
{%- endif %}

{%- if device.ntp is defined and device.ntp.servers %}
configure system ntp
  {%- for s in device.ntp.servers %}
  server {{ s }}
  {%- endfor %}
exit
{%- endif %}
